[paths]
source =
   src/watchmaker
   */site-packages/watchmaker

[run]
branch = True
source =
    watchmaker
parallel = true

[report]
show_missing = true
precision = 2
omit =
    *migrations*
    src/watchmaker/__main__.py
    */site-packages/watchmaker/__main__.py
