[paths]
source =
   src/watchmaker
   */site-packages/watchmaker

[run]
branch = True
source =
    watchmaker
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
