graft src

include AUTHORS.md
include CHANGELOG.md
include CONTRIBUTING.md
include LICENSE
include README.md

exclude ci/**
exclude docs/**
exclude requirements/**
exclude tests/**
exclude .bumpversion.cfg
exclude .coveragerc
exclude .editorconfig
exclude .gitmodules
exclude .pylintrc
exclude tox.ini
exclude Dockerfile
exclude Makefile
exclude *.yml
exclude *.yaml

global-exclude *.pyz *.py[cod] __pycache__ *.so *.dylib .git
