name: Run lint and static analyis checks
on:
  pull_request:

concurrency:
  group: lint-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  lint:
    uses: plus3it/actions-workflows/.github/workflows/lint.yml@8f8c209f4baa89f8b624937368ed36646313e987
    with:
      tardigradelint-target: -o python/lint lint
